<div class="container">
    <div class='header' >
        <h2>Find the Jewel</h2>
        <p class="well lead">
            Find which Jewel computer likes more than the others.
        </p>
    </div>

    <div class='find-jewel'>
        <h3>Guess by Name</h3>
        <input type="string" [value]="findJewel" (input)="findJewel = $event.target.value" />
        <button (click)="verifyTheTry()" class="btn btn-primary btn-sm">Verify</button>
        <button (click)="initGame()" class="btn btn-warning btn-sm">Restart</button>
    </div>

    <app-show-jewel></app-show-jewel>

    <div class='find-counter'>
        <p class="text-info">
            Number of tries :
            <span class="badge">{{howManyTries}}</span>
        </p>
    </div>

    <div class='find-results'>
        <p *ngIf="hinting===false" class="alert alert-warning">
           Nope, not that one.. :(
        </p>
        <p *ngIf="hinting===true" class="alert alert-success">
            Yes! That's it.
        </p>
    </div>

    <hr/>
    <app-new-jewel></app-new-jewel>

    <hr/>
    <strong>using location component</strong><br/>
    <app-location *ngFor="let location of server.locations" [location]="location"></app-location>
</div>
